{% extends 'layout.html' %}

{% block body %}
<!-- banner -->
<style>
	.title
	{
		font-size:220%;
		color: white;
	}
</style>
<section class="banner_w3lspvt" id="home">
	<div class="csslider infinity" id="slider1">
	
				<div class="banner-top3">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info text-center">
								<br>
								<div class="title"><b>An Application for Effective Agriculture Yeilds using AI</b> 
									</div>
								<br>
							
							</div>
						</div>
					</div>
				</div>
	</div>
</section>





</html>

{% endblock %}